


#brand{
    background-color: #c5cecf;
    width: 99.3%;
    height: 100px;
    margin-bottom: 10px;
}

#imagem-barra{
    display: flex;
}

.logo-index{
    border: none;
    padding: 0;
}

.barra-menu{
    width: 99.3%;
    display: flex;
    justify-content: space-around;
    background-color: #c5cecf;
    height: 40px;
    align-items: center;
}

.menu-item{
    font-family: Helvetica;
    font-size: 0.8rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.aqui{
    text-decoration: none;
    color: black;
}
.aqui:hover{
    color: #FF66C4;
    font-weight: bold;
}

#sobre{
    width: 98%;
    height: 240px;
    display: flex;
    align-items: center;
    font-family: Helvetica;
    background-color: #c5cecf;
    margin-top: 10px;
    padding: 10px;
}
#sobre-imagem-mapa{
    width: 212px;
    height: 238px;
    margin: 0px;
    border: 3px solid #FF66C4;
}
#texto-sobre{
    text-align: justify;
    padding: 10px;
}
#titulo-sobre{
    font-size: 20px;
    font-weight: bold;
}

#curiosidades{
width: 98%;
height: 180px;
display: flex;
font-family: Helvetica;
background-color: #c5cecf;
margin-top: 10px;
padding: 10px;
}

#imagem-curiosidades{
    width: 310;
    height: 162;
    margin: 0px;
    margin-right: 10px;
    border: 3px solid #28ff0d;
    margin-top: auto;
    margin-bottom: auto;
}

#texto-curiosidades{
    text-align: justify;
    padding: 10px;
}

#titulo-curiosidades{
    font-size: 20px;
    font-weight: bold;
}

#hospedagem{
    width: 98%;
    height: 225px;
    display: flex;
    font-family: Helvetica;
    background-color: #c5cecf;
    margin-top: 10px;
    padding: 10px; 
}

#imagem-hospedagem{
    width: 600px;
    height: 200px;
    margin: 0px;
    border: 3px solid #ffbd59;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}

#texto-hospedagem{
    
    text-align: justify;
    padding: 10px;
}

#titulo-hospedagem{
    font-size: 20px;
    font-weight: bold;
}

footer {
    background-color: #c5cecf;
    color: black;
    width: 99.4%;
    height: 50px;
    bottom: 0px;  
    text-align: center;
    font-family: Helvetica;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

#texto-footer{
    margin-left: auto;
    margin-right: auto;
}